#introduction {
  font-size: 15px;
}

.default-grey-text {
  color: #4d4045;
}

/* BR - Colors */ 
.br-color {
  background-color: #d2381b;
}
.br-color-light {
  background-color: #c94e35;
}
.br-color-dark {
  background-color: #ac250a;
}

/* OTDA - Colors */ 
.otda-color {
  background-color: #432870;
}
.otda-color-light {
  background-color: #57378b;
}
.otda-color-dark {
  background-color: #381d64;
}

/* DTF - Colors */ 
.dtf-color {
  background-color: #276875;
}
.dtf-color-light {
  background-color: #3c7d8b;
}
.dtf-color-dark {
  background-color: #1a545f;
}

#navbar, #footer {
  background-color: black;
}

#logo-image {
  opacity: 0;
}

#logo-title {
  font-size: 30px;
}

#header {
  height: 700px;
  background-color: black;
}

#header-title {
  font-size: 100px;
  width: 100%;
}

#greeting {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

#conclusion {
  font-weight: bold;
}

ul.square li {
  color: white;
}

.collapsible-header {
  color: white;
}

.table-of-contents {
  padding-top: 150px;
}

/* Desktop support */
@media(min-width: 992px) {
  .desktop-hidden {
    display: none;
  }

  .intro-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .intro-pic-container {
    flex-basis: 20%;
  }
  
  .profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .intro-text-container{
    flex-basis: 70%;
  }
}



/* Tablet support */
@media only screen and (min-width: 600px) and (max-width: 992px) {

  .tablet-hidden {
    display: none;
  }

  .intro-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .intro-pic-container {
    flex-basis: 20%;
  }
  
  .profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .intro-text-container{
    flex-basis: 70%;
  }

  .btn-floating.btn-large.halfway-fab {
    bottom: 2px;
    right: 2px;
  }

  .card.horizontal .card-image {
    display: flex;
    align-items: center;
  }

  .card.horizontal .card-image img {
    max-width: none;
    width: 150px;
  }
}

/* Mobile support */
@media only screen and (min-width: 375px) and (max-width: 600px) {
  .mobile-hidden {
    display: none;
  }

  .nav-wrapper ul li a i.mobile {
    line-height: 56px;
  }
  
  #header-title {
    font-size: 40px;
    width: 100%;
  }

  #header {
    height: 400px;
  }

  .intro-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .intro-text-container{
    margin-left: 40px;
    margin-right: 40px;
  }

  .btn-floating.btn-large.halfway-fab {
    bottom: 2px;
    right: 2px;
  }

  .card.horizontal .card-image {
    display: flex;
    align-items: center;
  }

  .card.horizontal .card-image img {
    max-width: none;
    width: 150px;
  }
  
  ul.square li {
    color: white;
  }

}


#kissy {
  width: 500px;
}

.job-description {
  height: 800px;
}

ul.square {
  list-style-type: square;
}

#panel-side {
  height: 1000px;
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
}

.profile-pic {
  height: 200px;
  width: 200px;
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: black;
}

.toast {
    border-radius: 20px;
    color: white;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
}

.logo-description {
  height: 150px;
}

.experience-type {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
}

.description-title {
  font-size: 20px;
  font-weight: bold;
}

.parallax-container {
  height: 500px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

.soju {
  width: 100%;
}
    